* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/*--------NAVBAR-------*/
.my-nav {
  background: #2196f3;
  height: 90px;
  position: relative;
}
.my-nav .link-div {
  display: inline-block;
  background: #2196f3;
  height: 100%;
  padding: 30px 30px;
  color: white;
  font-size: large;
}

.my-nav .link-div:hover {
  background: #1976d2; 
  border-radius: 4px;
  color: white;
}
.brand-name {
  display: inline-block;
  background: #2196f3;
  height: 100%;
  padding: 30px 30px;
  color: white;
  font-size: x-large;
}
/*-------------NAVBAR ON DASHBOARD--------*/
.move-right {
  display: -webkit-inline-flex;
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
  justify-content: center;
}
.notes-display {
  display: relative;
  width: 40%;
  height: 100%;
}
.notes-icon {
  font-size: small;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 36%;
  left: 40%;
}
.notes-menu {
  position: absolute;
  top: 90%;
  width: 40%;
}
.notes-menu div {
  background: #e3f2fd;
  width: 150%;
  padding: 8%;
  color: dimgrey;
  cursor: pointer;
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
}
.notes-menu div:hover {
  background: #bbdefb;
}
.post-icon {
  font-size: small;
  margin: auto;
  color: white;
  cursor: pointer;
}
.log-out {
  cursor: pointer;
  margin: auto;
  color: white;
  padding: 7%;
  font-size: large;
}

@media screen and (max-width: 960px) {
  .move-right {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .my-nav {
    background: #2196f3;
    height: 23vh;
    position: static;
  }
  .move-right {
    width: 100%;
    height: 50%;
    position: static;
    display: flex;
  }
  .brand-name {
    display: block;
    height: 50%;
    text-align: center;
  }

  .notes-menu {
    position: absolute;
    top: 21%;
    width: 20%;
  }
  .notes-icon {
    top: 40%;
  }
  .log-out {
    cursor: pointer;
    margin: auto;
    color: white;
    padding: 2%;
    font-size: large;
  }
}

/*----------HOME PAGE--------------*/

.home-container {
  display: flex;
  height: 93vh;
  min-height: 550px;
  width: 100%;
}
.home-left, .home-right {
  width: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-left {
  background: #2196f3;
}
.home-left-mid {
  width: 70%;
}
.home-left-mid div {
  margin: 10% 2%;
  font-size: x-large;
  font-weight: bold;
}
.home-right {
  vertical-align: top;
  flex-direction: column;
  text-align: center;
}
.home-right-top {
  height: 20%;
  margin: 0 1%;
  display: block;
  color: black;
  font-size: xx-large;
  font-weight: bold;
}
.home-right-mid {
  width: 380px;
  height: 240px;
}
.home-right-mid-btn {
  background: #2196f3;
  color: white;
  font-size: medium;
  font-weight: bold;
  width: 95%;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  margin: 5% auto;
  padding: 1%;
}
footer {
  padding-top: 1%;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .home-container {
    display: block;
    height: 550px;
  }
  .home-left, .home-right {
    width: 100%;
    height: 50%;
    min-height: 350px;
  }
  .home-right-top {
    width: 70%;
    padding: 3%;
    font-size: xx-large;
    font-weight: bold;
  }
  .home-right-mid-btn {
    font-size: large;
    font-weight: bold;
    width: 70%;
    height: 40px;
    margin: 4% auto;
  }
  footer {
    padding-top: 4%;
    text-align: center;
  }
}
@media screen and (max-width: 440px) {
  .home-right-top {
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .home-right-mid {
    margin: 20px;
  }
}

/*---------REGISTER------*/

.register-form {
  display: flex;
  flex-direction: column;
  height: 350px;
  min-height: 300px;
  width: 60vw;
  margin: 20px auto;
  font-size: medium;
  box-shadow: 0 10px 20px gray;
}
.register-form-child {
  margin: auto;
  text-align: center;
  width: 38%;
  height: 45px;
}
.register-text-input {
  width: 100%;
}
.register-submit {
  background: #2196f3;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 740px) {
  .register-form-child {
    margin: auto;
    text-align: center;
    width: 70%;
    height: 12%;
  }
}
/*----------DASHBOARD--------*/
.display-flex {
  margin: auto;
  width: 600px;
  margin-bottom: 5%;
}
.post-container {
  display: inline-block;
  width: 100%;
}
.post {
  overflow: hidden;
  max-height: 150px;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid lightgray;
}
.post-pic {
  vertical-align: top;
  max-height: 100px;
  width: 10%;
  margin: 2% 1%;
  overflow: hidden;
}
.post-pic img {
  border-radius: 50%;
  width: 100%;
  display: inline-block;
}
.post-pic, .post-right {
  display: inline-block;
}
.post-pic .post-pic-second {
  height: 100px;
  width: 100%;
  text-align: center;
  background: rgb(230, 234, 247);
}
.post-right {
  width: 75%;
}

.post-right-top {
  margin: 2px 3%;
}
.post-right-top div {
  display: inline-block;
}
.post-time {
  margin: 0% 2%;
}
.post-delete {
  float: right;
}
.post-delete button {
  background: #2196f3;
  color: white;
  border: none;
  /*padding: 3% 8%;*/
}
.post-body {
  margin: 3px 3%;
}
.post-bottom {
  display: flex;
}
.post-bottom div {
  /*margin: 2% 5%;*/
  margin: 0 5%;
}
.bottom-thumb, .bottom-comment {
  display: flex;
}
.bottom-thumb div, .bottom-comment div {
  padding: 15%;
}
.bottom-thumb button {
  border: none;
  text-decoration: none;
  background: white;
}

.profile {
  padding: 10px;
  margin-bottom: 3%;
  width: 100%;
  box-shadow: 0 10px 20px gray;
}
.profile-pic {
  text-align: center;
  background: rgb(230, 234, 247);
}
.profile-pic img {
  height: 100px;
  margin: 2%;
  border-radius: 50%;
  border: solid 1px;
  border-color: #2196f3;
}
.profile-pic .profile-pic-second {
  height: 150px;
  text-align: center;
  background: rgb(230, 234, 247);
}

@media screen and (max-width: 680px) {
  .post-pic .post-pic-second {
    height: 90px;
  }
}
@media screen and (max-width: 690px) {
  .display-flex {
    margin: auto;
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .post-time {
    font-size: 13px;
  }
  .post-delete {
    font-size: 13px;
  }
}
@media screen and (max-width: 335px) {
  .post-time {
    font-size: 12px;
  }
  .post-delete {
    font-size: 12px;
  }
}
@media screen and (max-width: 386px) {
  .display-flex {
    margin: auto;
    width: 90%;
  }
}
/*----------MODALS---------*/
.text-cont {
  height: 50px;
  text-align: center;
}
.text-cont input[type=text] {
  background: rgb(230, 234, 247);
  display: inline;
  height: 70%;
  width: 70%;
  margin: 2%;
}
.submit-cont {
  text-align: center;
}

.input-submit {
  background: #2196f3;
  color: white; 
  border: none; 
  cursor: pointer;
  padding: 3%;
  width: 70%;
  margin: 2%;
}
/*----------POST WITH COMMENTS----------*/

.comment {
  overflow: hidden;
  padding: 2px;
  margin: 2px;
  background: rgb(230, 234, 247);
}
.comment-pic {
  vertical-align: top;
  width: 12%;
  margin: 2% 1%;
}
.comment-pic img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.comment-pic, .comment-right {
  display: inline-block;
}
.comment-pic .comment-pic-second {
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgb(230, 234, 247);
}
.comment-right {
  width: 75%;
}

.comment-right-top {
  margin: 2% 3%;
}
.comment-right-top div {
  display: inline-block;
}
.comment-time {
  margin: 0% 2%;
}
.comment-delete {
  float: right;
}
.comment-delete button {
  background: #2196f3;
  color: white;
  border: none;
  padding: 1% 40%;
}
.comment-body {
  margin: 0% 3%;
}

