* {
  padding: 0;
  margin: 0;
}
/*--------NAVBAR-------*/
.my-nav {
  background: #2196f3;
  height: 12vh;
  position: relative;
}
.my-nav .link-div {
  display: inline-block;
  background: #2196f3;
  height: 100%;
  padding: 30px 30px;
  color: white;
  font-size: x-large;
}

.my-nav .link-div:hover {
  background: #1976d2; 
  border-radius: 4px;
  color: white;
}
.brand-name {
  display: inline-block;
  background: #2196f3;
  height: 100%;
  padding: 30px 30px;
  color: white;
  font-size: x-large;
}
/*-------------NAVBAR ON DASHBOARD--------*/
.move-right {
  display: -webkit-inline-flex;
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
  justify-content: center;
}
.notes-display {
  display: relative;
  width: 40%;
  height: 100%;
}
.notes-icon {
  font-size: small;
  color: white;
  cursor: pointer;
  margin: 18%;
}
.notes-menu {
  position: absolute;
  width: 40%;
  background: red;
}
.notes-menu div {
  background: #e3f2fd;
  width: 150%;
  padding: 8%;
  color: dimgrey;
  cursor: pointer;
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
}
.notes-menu div:hover {
  background: #bbdefb;
}
.post-icon {
  font-size: small;
  margin: auto;
  color: white;
  cursor: pointer;
}
.log-out {
  cursor: pointer;
  margin: auto;
  color: white;
  padding: 7%;
  font-size: large;
}

/*----------HOME PAGE--------------*/
.home-container {
  display: flex
}
.home-left, .home-right {
  width: 50%;
  height: 90vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-left {
  background: #2196f3;
}
.home-left-mid {
  width: 70%;
}
.home-left-mid div {
  margin: 10% 2%;
  font-size: xx-large;
  font-weight: bold;
}
.home-right {
  vertical-align: top;
  flex-direction: column;
}
.home-right-top {
  height: 20%;
  margin: 0 1%;
  display: block;
  color: black;
  font-size: xxx-large;
  font-weight: bold;
}
.home-right-mid {
  width: 90%;
  height: 40%;
}
.home-right-mid-btn {
  background: #2196f3;
  color: white;
  font-size: x-large;
  font-weight: bold;
  width: 95%;
  height: 18%;
  border-radius: 25px;
  text-align: center;
  margin: 9% auto;
  padding: 1%;
}

/*---------REGISTER------*/
.register-form {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 60vw;
  margin: auto;
  box-shadow: 0 10px 20px gray;
}
.register-form-child {
  margin: auto;
  text-align: center;
  width: 38%;
  height: 12%;
}
.register-text-input {
  width: 100%;
}
.register-submit {
  background: #2196f3;
  color: white;
  border: none;
  font-size: large;
  width: 100%;
  height: 100%;
}

/*----------DASHBOARD--------*/
.display-flex {
  margin: auto;
  width: 60%;
}
.post-container {
  display: inline-block;
  width: 100%;
}
.post {
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 10px 20px gray;
}
.post-pic {
  vertical-align: top;
  width: 12%;
  height: 14vh;
  margin: 2% 1%;
}
.post-pic img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: red;
}
.post-pic, .post-right {
  display: inline-block;
}
.post-pic .post-pic-second {
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgb(230, 234, 247);
}
.post-right {
  width: 75%;
}

.post-right-top {
  margin: 2% 3%;
}
.post-right-top div {
  display: inline-block;
}
.post-time {
  margin: 0% 2%;
}
.post-delete {
  float: right;
}
.post-delete button {
  background: #2196f3;
  color: white;
  border: none;
  padding: 3% 8%;
}
.post-body {
  margin: 0% 3%;
}
.post-bottom {
  display: flex;
}
.post-bottom div {
  margin: 2% 5%;
}
.bottom-thumb, .bottom-comment {
  display: flex;
}
.bottom-thumb div, .bottom-comment div {
  padding: 15%;
}
.bottom-thumb button {
  border: none;
  text-decoration: none;
  background: white;
}

.profile {
  padding: 20px;
  margin-bottom: 3%;
  width: 100%;
  box-shadow: 0 10px 20px gray;
}
.profile-pic {
  text-align: center;
  background: rgb(230, 234, 247);
}
.profile-pic img {
  margin: 2%;
  border-radius: 50%;
  border: solid 1px;
  border-color: #2196f3;
}


/*----------POST WITH COMMENTS----------*/
.comment {
  overflow: hidden;
  padding: 2px;
}
.comment-pic {
  vertical-align: top;
  width: 12%;
  height: 5vh;
  margin: 2% 1%;
}
.comment-pic img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.comment-pic, .comment-right {
  display: inline-block;
}
.comment-pic .comment-pic-second {
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgb(230, 234, 247);
}
.comment-right {
  width: 75%;
}

.comment-right-top {
  margin: 2% 3%;
}
.comment-right-top div {
  display: inline-block;
}
.comment-time {
  margin: 0% 2%;
}
.comment-delete {
  float: right;
}
.comment-delete button {
  background: #2196f3;
  color: white;
  border: none;
  padding: 1% 40%;
}
.comment-body {
  margin: 0% 3%;
}

/*--------------------------OLD DESIGN ------------------------*/
*{
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(238, 237, 237);
  padding: 0;
  margin: 0;
}
.container {
  margin: auto;
  width: 80%;
  height: 100vh;
}




.company {
  float: left;
}
.company a:hover {
  background: rgb(0, 0, 255);
}

.alertRed {
  background: #ffe6e6;
  color: #800000;
  padding: 20px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 4px;
} 

.alertGreen {
  background: #d9ffcc;
  color: #1a6600;
  padding: 20px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 4px;
} 

.grid-container {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #C8C8C8;
  padding: 10px;
}

.grid-container > input {
  background-color: #fff;
  padding: 10px 0;
  font-size: 15px;
  border: none;
  border-radius: 2px;
}

.item2, .item4, .item6, .item8, .iteml2, .iteml4 {
  grid-column: 2 / span 4;
}

.grid-container .item9, .grid-container .iteml5 {
  grid-column: 1 / span 5;
  background: rgb(0, 0, 255);
  color: #fff;
}
.logo {
  text-align: center;
  color: #fff;
}

body input[type=text] {
  /*we use float on both the input and the button to get them to stick to each other*/
  float: left;
  margin-left: 1rem;
  height: 30px;  
  width: 80%;
  padding: 5px 3px;
  box-shadow: none;
  border: none;
  border-radius: 4px 0px 0px 4px;
}
.searchbutton {
  float: left;
  background: rgb(0, 0, 255);    
  color: white;
  text-align: center;
  text-decoration: none;
  height: 30px;  
  width: 15%;
  padding: 5px 0px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}
.Newsposts {
  clear: both;
  margin-top: 60px;
}

.pic {
  width: 100%;
}
.mar {
  margin: 10px;
}
.read{
  text-decoration: none;
  background: blue;
  border-radius: 4px;
  color: white;
  padding: 5px;
  display: inline-block;
}

/* media queries */ 

/*for register and login*/
@media screen and (max-width: 550px) {
  .grid-container {
      display: grid;
      grid-template-columns: auto;
  }
  .grid-container label, .grid-container input {
      grid-column: none;
  }
  .grid-container input {
      width: 100%;
  }
  .grid-container label {
      text-align: center;
  }
}

/*for dashboard*/
@media screen and (max-width: 600px) {
  .post{ 
      display: block;
      width: 90%;   
      margin: auto;
      margin-bottom: 15px;
  }
}

@media screen and (max-width: 450px) {
  body input[type=text] {
      float: none;
      display: block;
      margin: auto;
      margin-top: 5px;
      width: 80%;
      border-radius: 4px 4px 4px 4px;
  }
  .searchbutton {
      float: none;
      display: block;
      margin: auto;
      margin-top: 5px;
      width: 80%;
      border-radius: 4px 4px 4px 4px;
  }
  .Newsposts {
      margin-top: 20px;
  }
}

@media screen and (max-width: 375px) {
  li, .company {
      float: none;
      text-align: center;
  }
}